<div class="container row">
  <browse-search categories="$ctrl.categories" on-filter="$ctrl.filterResults($event)"></browse-search>
  <ul class="collection" ng-if="$ctrl.posts.length">
    <li class="collection-item avatar" ng-repeat="post in $ctrl.posts">
      <img ng-src="{{post.image}}" alt="" class="circle responsive-img" ng-if="::post.image">
      <i class="material-icons circle teal" ng-if="::!post.image">{{::post.category.icon}}</i>
      <span class="title"><b>{{::post.name}}</b></span>
      <p>
        Category: {{::post.category.name}}<br>
        Seller: {{::post.user.firstName}} {{::post.user.lastName}}
      </p>
      <p class="secondary-content">{{::post.price | currency}}</p>
    </li>
  </ul>
  <div ng-if="!$ctrl.posts.length" class="row">
    <center class="flow-text">There are no posts with the submitted criteria.</center>
  </div>
</div>

