<div ng-repeat="listing in $ctrl.l">
  <div class="card">
    <div class ="card-content">
        <center>
          <img src="https://upload.wikimedia.org/wikipedia/en/6/61/The_Book_of_Life_(2014_film)_poster.jpg" style="height: 300px; width: 175px;"/>
        </center>
    </div>
    <div class = "card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab" ng-class="{ active: $ctrl.isSelected(1) }">
                <a href ng-click="$ctrl.selectTab(1)"> 
                    Description
                </a>
            </li>
            <li class="tab" ng-class="{ active: $ctrl.isSelected(2) }">
                <a href ng-click="$ctrl.selectTab(2)"> 
                    Buy
                </a>
            </li>
            <li class="tab" ng-class="{ active: $ctrl.isSelected(3) }">
                <a href ng-click="$ctrl.selectTab(3)"> 
                    Seller
                </a>
            </li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div ng-show="$ctrl.isSelected(1)"> 
          Name: {{listing.name}}<br>
          Edition: {{listing.edition}}<br>
          Author: {{listing.author}}<br>
          Type: {{listing.type}}<br>
      </div>
      <div ng-show="$ctrl.isSelected(2)"> 
          Exchange Preferences:
          <p>{{listing.preferences}}</p>
          Asking Price: {{listing.asking | currency}}<br>
      </div>
      <div ng-show="$ctrl.isSelected(3)"> 
          Seller: {{listing.seller}}
      </div>
    </div>
  </div>
</div>