<div class="container row">
  <browse-search categories="$ctrl.categories" on-filter="$ctrl.filterResults($event)"></browse-search>
  <ul class="collection">
    <li class="collection-item avatar" ng-repeat="post in $ctrl.posts">
      <img ng-src="{{post.image}}" alt="" class="circle responsive-img" ng-if="::post.image">
      <i class="material-icons circle teal" ng-if="::!post.image">{{::post.category.icon}}</i>
      <span class="title"><b>{{::post.name}}</b></span>
      <p>
        Category: {{::post.category.name}}<br>
        Asking Price: {{::post.price | currency}} <br>
        Seller: {{::post.user.firstName}} {{::post.user.lastName}}
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</div>

