.name-margin {
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.remove-margin {
  margin-bottom: 0 !important;
}

.margin-right {
  margin-right: 10px !important;
}

.card-padding {
  padding: 25px;
}