<div class="container card-margin">
  <div class="row">
    <div class="col s12">
      <div class="card-panel teal lighten-5 hoverable">
        <div class="card-panel red lighten-5" ng-show="$ctrl.error">{{$ctrl.error}}</div>
        <h3 class="blue-grey-text">Log In</h3>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input class="validate" type="email" name="email" ng-model="$ctrl.user.email"/>
              <label for="email">Email Address</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input class="validate" type="password" name="password" ng-model="$ctrl.user.password"/>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <button class="waves-effect waves-light btn right" ng-click="$ctrl.login()" type="submit">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
