<!DOCTYPE html>
<html>
<head>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <!-- application -->
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="messaging" ng-controller = "MailController as mail">
    <div class="container">
        <h3> Messages </h3>
    <div class="row" ng-controller = "ViewMessageController as conversation">
        <!-- Left side messages navigation -->
        <div class="col s3">
            <!-- Contains individual message preview information-->
            <section ng-repeat = "message in mail.messages | orderBy: '+sentTime'">
            <a href ng-click="conversation.selectMessage($index)">
                <div class="card-panel white">
                    <strong>{{message.sentFrom}}</strong> 
                    <br/>
                    {{message.message | limitTo: 20}}
                    <br/>
                    {{message.sentTime | date:"MM.dd.yyyy 'at' h:mma" : timezone}}
                </div>
            </a>
            </section>
        </div>
        <!-- Right side selected message box -->
    
        <div class="col s9">
        <section>
            <div class="card-panel light-blue lighten-5">
                <p><strong><center>{{mail.messages[conversation.viewMessage].sentFrom}}</center></strong></p>
            {{mail.messages[conversation.viewMessage].message}}
            </div>
        </section>
        </div>
        
    </div>
    </div>
</body>
</html>