<div class="container">
  <h3> Messages </h3>
  <div class="row">
    <!-- Left side messages navigation -->
    <div class="col s3">
      <!-- Contains individual message preview information-->
      <section ng-repeat = "usr in $ctrl.connectedUsers">
        <a href ng-click="$ctrl.viewConversation({{usr.user}})">
          <div class="card-panel white">
            <strong>{{usr.user}}</strong> 
            <br/>
          </div>
        </a>
      </section>
    </div>
    <!-- Right side selected message box -->

    <div class="col s9">
      <section>
        <div class="card-panel light-blue lighten-5">
          <p ng-repeat = "message in $ctrl.conversation |orderBy: '+sentTime'" ><strong><center>{{message.sentFrom}}</center></strong></p>
          {{message.message}}
        </div>
      </section>
    </div>

  </div>
</div>