<div class="container">
  <h3> Messages </h3>
  <div class="row">
    <!-- Left side messages navigation -->
    <div class="col s3">
      <!-- Contains individual message preview information-->
      <section ng-repeat = "user in $ctrl.users">
        <a ui-sref="messages.list({userId: user.id})">
          <div class="card-panel white">
            <strong class="blue-grey-text">{{user.firstName}} {{user.lastName}}</strong> 
            <br/>
          </div>
        </a>
      </section>
    </div>
    <!-- Right side selected message box -->
    <div class="col s9">
      <section>
        <div ui-view></div>
      </section>
    </div>
  </div>
</div>