<div class="container">
  <h3> Messages </h3>
  <div class="row">
    <!-- Left side messages navigation -->
    <div class="col s3">
      <!-- Contains individual message preview information-->
      <section ng-repeat = "message in $ctrl.messages | orderBy: '+sentTime'">
        <a href ng-click="$ctrl.selectMessage($index)">
          <div class="card-panel white">
            <strong>{{message.sentFrom}}</strong> 
            <br/>
            {{message.message | limitTo: 20}}
            <br/>
            {{message.sentTime | date:"MM.dd.yyyy 'at' h:mma" : timezone}}
          </div>
        </a>
      </section>
    </div>
    <!-- Right side selected message box -->

    <div class="col s9">
      <section>
        <div class="card-panel light-blue lighten-5">
          <p><strong><center>{{$ctrl.messages[$ctrl.viewMessage].sentFrom}}</center></strong></p>
          {{$ctrl.messages[$ctrl.viewMessage].message}}
        </div>
      </section>
    </div>

  </div>
</div>