<div ui-view>
  <div class="container card-margin">
    <div class="row">
      <div class="col s12">
        <div class="card-panel white lighten-5 hoverable">
          <div class="card-panel red lighten-5" ng-show="$ctrl.errorMessage">{{$ctrl.errorMessage}}</div>
          <div class="card-panel green lighten-5" ng-show="$ctrl.successMessage">{{$ctrl.successMessage}}</div>        
          <h3 class="blue-grey-text">
            {{$ctrl.isNew ? 'Post new item' : 'Edit Post'}}
          </h3>
          <form name="postForm">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">note</i>
                <input class="validate" type="text" name="name" ng-model="$ctrl.post.name"/>
                <label for="name">Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">bookmark_border</i>
                <select material-select watch ng-model="$ctrl.post.category" size="6">
                  <option value="" disabled selected>Select a category...</option>
                  <option ng-repeat="category in $ctrl.categories | orderBy:'name'" value="{{category.id}}">
                    {{::category.name}}
                  </option>
                </select>
                <label>Category</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">attach_money</i>
                <input class="validate" type="text" name="price" ng-model="$ctrl.post.price" pattern="(?=.)^(([1-9][0-9]{0,2}(,[0-9]{3})*)|[0-9]+)?(\.[0-9]{1,2})?$"/>
                <label for="price">Price</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">info_outline</i>
                <textarea id="description" class="materialize-textarea" ng-model="$ctrl.post.description"></textarea>
                <label for="description">Description</label>
              </div>
            </div>
            <div class="row">
              <button class="waves-effect waves-light btn right" ng-click="$ctrl.createPost()" ui-sref="{{$ctrl.previousState}}" ng-if="!$ctrl.isNew">Back</button>
              <button class="waves-effect waves-light btn right margin-right post-button" ng-click="$ctrl.createPost()" ng-disabled="postForm.$invalid" type="submit">{{$ctrl.isNew ? 'Post' : 'Update'}}</button>
              <button class="waves-effect waves-light btn red right margin-right delete-button" ng-click="$ctrl.deletePost()" ng-if="!$ctrl.isNew">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
