<ul id="slide-out" class="side-nav fixed">
  <li ui-sref="auth.login" ng-if="!$ctrl.isAuthenticated">
    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">fingerprint</i>Log In</div>
  </li>
  <li ui-sref="auth.register" ng-if="!$ctrl.isAuthenticated">
    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">perm_identity</i>Register</div>
  </li>
  <li ui-sref="dashboard" ng-if="$ctrl.isAuthenticated">
    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">dashboard</i>Dashboard</div>
  </li>
  <li ui-sref="browse">
    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">explore</i>Browse</div>
  </li>
  <ul class="collapsible" data-collapsible="expandable" ng-if="$ctrl.isAuthenticated">
    <li ng-if="$ctrl.tradeItems.length">
      <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">trending_up</i>My Recent Trades</div>
      <div class="collapsible-body">
        <ul>
          <li ng-repeat="item in $ctrl.tradeItems | orderBy: 'updatedAt' :true | limitTo: 5" class="sidebar-item" ui-sref="post.edit({ id: item.id })">
            <a href="#" class="waves-effect waves-teal">{{item.name}} <span class="right">{{item.price | currency}}</span></a>
          </li>
        </ul>  
      </div>
    </li>
    <li ng-if="$ctrl.wishlistItems.length">
      <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">grade</i>Recently Wishlisted</div>
      <div class="collapsible-body">
        <ul>
          <li ng-repeat="item in $ctrl.wishlistItems | orderBy: 'createdAt' :true | limitTo: 5" class="sidebar-item" ui-sref="browse.view({ id: item.post.id })">
            <a href="#" class="waves-effect waves-teal">{{item.post.name}} <span class="right">{{item.post.price | currency}}</span></a>
          </li>
        </ul>  
      </div>
    </li>
  </ul>
  <li ui-sref="post" ng-if="$ctrl.isAuthenticated">
    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">add</i>Post Item</div>
  </li>
</ul>