<div input-field>
  <select material-select watch ng-model="$ctrl.search" ng-change="$ctrl.addCriteria()" size="6">
    <option value="" disabled selected>Search by category...</option>
    <option ng-repeat="category in $ctrl.categories | exclude: $ctrl.criteria | orderBy:'name'" value="{{category.name}}">
      {{::category.name}}
    </option>
  </select>
</div>
{{}}
<div>
  <span class="chip blue-grey white-text darken-1" ng-repeat="item in $ctrl.criteria">
    {{item}}
    <i class="close material-icons" ng-click="$ctrl.removeCriteria($index)">close</i>
  </span>
</div>
